[2017-04-20 21:13] katyhuff opened #4 "Need a logo with appropriate usage license."
I know you like this image: https://yt3.ggpht.com/-m228mYexdB0/AAAAAAAAAAI/AAAAAAAAAAA/BUb24swAfxw/s900-c-k-no-mo-rj-c0xffffff/photo.jpg

But, I'm concerned it might be copyrighted or restricted use.
This issue can be closed, either:
- [ ] when the rights to this image have been found and comply with our needs (free reuse with modification)
- [ ] when a logo has been found (or made [perhaps with a

[2017-04-26 15:43] lindsayad commented on #4
Alright, I found a picture of a pheonix:

![phoenix_cc0](https://cloud.githubusercontent.com/assets/10248304/25443309/12bd1432-2a6d-11e7-8b1c-7c5286cfd93b.jpg)

which is CC0 licensed: https://pixabay.com/en/phoenix-bird-fire-sun-bright-red-500469/

[2017-04-26 16:12] katyhuff commented on #4
![bitmoji](https://render.bitstrips.com/v2/cpanel/8508524-116454032_15-s1-v1.png?transparent=1&palette=1&width=246)

I'll add it to the website.

[2017-04-26 16:12] #4 closed

[2017-06-21 19:11] lindsayad opened #15 "Need Nusselt boundary condition"
Nusselt boundary condition will be essential in simulations where we don't want to resolve the boundary layer

[2017-06-21 19:13] katyhuff opened #16 "MSBR Diffusion Coefficient Generation"
In addition to group constants, the diffusion coefficients for the array of temperatures must be generated. This issue can be closed when a reasonable method for generating (or approximating) these diffusion coefficients (perhaps with newt, perhaps with heuristics & serpent) has been achieved and these diffusion coefficients have been calculated for the MSBR.

[2017-06-21 19:13] lindsayad opened #17 "Need InterfaceKernel that will be used in conjunction with Nusselt BC"
Essential for coupling fuel-moderator heat transfer when not resolving fuel boundary layers

[2017-06-21 19:15] lindsayad opened #18 "Demonstrate DistributedMesh in Moltres"
Will be essential for larger reactor simulations like MSBR

[2017-06-21 19:17] lindsayad opened #19 "Simulate simplified MSR model and demonstrate non-oscillatory temperature profiles"

[2017-06-21 19:18] lindsayad opened #20 "Simulate MSRE model and demonstrate non-oscillatory temperature profiles"

[2017-06-21 19:18] katyhuff opened #21 "Fast Spectrum MSR demonstration"
This issue can be closed when a fast spectrum MSR design has been modeled with Moltres. Steady state and transient problems should both be demonstrated and verified.

[2017-06-21 19:27] lindsayad opened #22 "Generate XSEC tables for moltres that are functions of control rods"
Essential for transient scenarios. Need to determine whether we're using:

- [x] Serpent: Current drawback: How to handle diffusion coefficients
- [ ] Newt/Scale: Current drawback: How to handle control rod heights with 2D simulation?

[2017-06-21 19:27] katyhuff opened #23 "transatomic-like reactor"
This issue can be closed when a Transatomic-like reactor design has been modeled with Moltres. Steady state and transient problems should both be demonstrated and verified.

i.e. http://www.transatomicpower.com/wp-content/uploads/2015/04/Neutronics-White-Paper-v1.1.pdf

[2017-06-21 19:29] katyhuff opened #24 "terrapower-like reactor demonstration"
This issue can be closed when a terrapower-like reactor design has been modeled with Moltres. Steady state and transient problems should both be demonstrated and verified.

Details, of course, about the terrapower design are markedly difficult to obtain. Approximations can be made as long as they appropriately capture key geometry, spectrum, and material characteristics of the reactor.

[2017-06-21 19:30] lindsayad opened #25 "Loss of flow transient"
Simulate loss of flow transient

[2017-06-21 19:34] katyhuff opened #26 "Denatured MSR demonstration"
This issue can be closed when a denatured molten salt reactor design has been modeled with Moltres. Steady state and transient problems should both be demonstrated and verified.

One suggestion is the design discussed in : "Lattice optimization for graphite moderated molten salt reactors using low-enriched uranium fuel" http://www.sciencedirect.com/science/article/pii/S0306454917301627

[2017-06-21 19:40] katyhuff opened #27 "Physics Addition: Radiative heat transfer behavior"
This issue can be closed when a capability for modeling radiative heat transfer in the context of molten salt reactors is implemented in moltres. This may require treating the transport as a relationship between surfaces, and may require sensitivity analyses.

[2017-06-21 19:43] katyhuff opened #28 "Physics Addition: Salt Freeze Plug"
This issue can be closed when a capability for modeling salt freeze plugs in the context of molten salt reactors is implemented in moltres.

[2017-06-22 22:01] lindsayad opened #29 "Demonstrate heat transfer in 3D"
- Initial model will have reflective boundary conditions for heat flux at the edge of the domain.
- This will use just recently generated solution of fluid flow in a single MSRE channel

[2017-06-23 15:24] gridley opened #30 "Aqueous homogeneous reactor experiment benchmarking"
Initial goals are to benchmark moltres on the MSRE. We forgot one thing by narrowing our view to molten salt: there is one more reactor to benchmark against. ORNL, in its glorious Weinberg days, built this bad boy:

![image](https://user-images.githubusercontent.com/18088906/27488686-88d64dba-57fd-11e7-980d-4aab8b549496.png)

I don't see any transient data for this, but maybe some of the ORNL peop

[2017-06-23 20:51] katyhuff commented on #30
These various aqueous solutions (water + uranyl sulfites and similar) certainly have liquid fuel, and some of the transport will be analogous. The TH will be quite different though -- high pressure two phase flow rather than single phase...

[2017-06-23 23:51] gridley commented on #30
Right, involving two-phase would

[2017-06-23 23:52] gridley commented on #30
oops, didn't mean to hit that button. I was going to say: the physics here would probably be pretty interesting. Radiolysis of water may have some effect.

[2017-06-23 23:52] #30 closed

[2017-07-07 20:35] lindsayad commented on #29
Closed by #35

[2017-07-07 20:35] #29 closed

[2017-07-07 20:36] lindsayad commented on #20
Closed by #35

[2017-07-07 20:36] #20 closed

[2017-07-07 20:37] lindsayad commented on #19
Closed by #35

[2017-07-07 20:37] #19 closed

[2017-07-07 20:40] lindsayad commented on #15
Able to show non-oscillatory temperature profiles in #35. So this BC may not be necessary

[2017-07-07 20:40] #15 closed

[2017-07-07 20:41] lindsayad commented on #17
Able to demonstrate non-oscillatory temperature profiles in #35 so this may not be necessary

[2017-07-07 20:41] #17 closed

[2017-07-19 17:21] gridley commented on #22
This was added a while ago in the tutorials folder. moltres/tutorials/step01<tab> includes fuel.coe, which has GCUs from the freezing point of FLiBe all the way up to 2000K in ~100 K intervals, generated at 5 linearly spaced control rod positions between full withdrawal and full insertion. Full insertion for the MSRE, by the way, does not reach the bottom of the core. The rods only reach to about

[2017-07-19 17:21] #22 closed

[2017-07-25 20:29] gridley opened #47 "Decay heat"
Moltres shows great strength in its ability to run transients. In order to simulate more exciting transients, it seems that some kernel sort of like the gamma heating kernel could be used in order to approximate this. The kernel could take parameters calculated from power history as given in [this document.](https://lost-contact.mit.edu/afs/umich.edu/user/d/a/dafish/Favorites/alex%20harrington/use

[2017-07-25 20:33] lindsayad commented on #47
Sounds good to me!

[2017-07-25 21:08] gridley commented on #25
PR #48 simulates this

[2017-07-26 13:52] lindsayad commented on #25
General rule of thumb is to close *after* merging

[2017-07-27 15:02] gridley commented on #25
Ah, well, it's merged now! :smile:

[2017-07-27 15:02] #25 closed

[2017-09-14 20:57] katyhuff commented on #18
hi @lindsayad .... there may be an opportunity for @andrewryh to bring this closer to completion for an MSBR full core demonstration... he may need your guidance! :D

[2017-09-14 21:22] lindsayad commented on #18
Glad to help when needed!

On Thu, Sep 14, 2017 at 2:57 PM, Katy Huff <notifications@github.com> wrote:

[2017-09-15 20:57] gridley opened #56 "Separate chi_d from chi_p"
Currently, moltres has delayed neutron precursors emit neutrons in the same spectrum as fission neutrons. Obviously, this is incorrect, since DNPs emit in the resonance range. CHI_D output from Serpent should be parsed and considered by moltres.

[2017-10-22 16:35] katyhuff opened #57 "k-epsilon model"
was accidentally previously filed in the wrong repo (https://github.com/arfc/publications/issues/44).

From @lindsayad :

The k-epsilon turbulence model was never finished since it really required SUPG stabilization to be relevant. Now, SUPG and PSPG are implemented in the navier-stokes module. So the k-epsilon model could be finished if someone wanted to work on it. It's very close to completion;

[2017-11-25 00:17] gridley commented on #56
fixed in #58

[2017-11-25 00:17] #56 closed

[2017-11-27 19:37] gridley commented on #47
Just had a small realization on this: decay heat precursors will be producing around 7% of the heat even in steady-operation. This would skew power distribution further from the stationary fuel distribution. Coming up with heating values for each group, dividing the groups, and determining decay constants wouldn't be easy, but we may be able to deduce something for a one group decay heat precursor

[2017-11-27 19:40] lindsayad commented on #47
Can you explain why it would increase the fast flux?

On Mon, Nov 27, 2017 at 12:37 PM, Gavin Ridley <notifications@github.com>
wrote:

[2017-11-27 19:44] gridley commented on #47
You'd get temperature distribution skewed to be hotter at the top. This makes the axial midplane colder than originally, thus shifting fission rate to be higher in the axial midplane, so you get higher fast flux. I suppose only the silicon will tell the truth, in the end. (although it may be late)

[2017-12-08 06:15] lcarasik commented on #57
What's y'all intended purpose here for the k-e model?

[2017-12-08 14:11] katyhuff commented on #57
Thanks for your interest @lcarasik ! Ideally, this tool should as generally as possible support turbulent or near-turbulent flow regimes in liquid fueled MSRs. This k-epsilon feature is not intended for a specific problem, but rather to support realistic simulation of the broad class of liquid fueled MSRs. Natural convection is a significant component of the flow in MSRs. But for ordinary operatio

[2017-12-13 05:56] lcarasik commented on #57
I like the approach but I would warn you against trying to use it in transitional regimes. It might be worth looking into transitional RANS modeling if you get close.

Is this 2-D? Or 3-D?

[2017-12-13 06:40] gridley commented on #57
Hey Lane,

I don’t think there’s a particular application of the TH in mind at the moment. Most of the prior work has been trying to reproduce MSRE results, which had a tiny Re=900 or so.

Going up to full-power liquid-fueled MSRs, the Reynolds number seems to be very turbulent, so transitional stuff probably isn’t a huge worry at the moment.

What’s the difference in 2D and 3D?

[2017-12-13 06:44] lcarasik commented on #57
Hey Gavin,

I assume y'all are just using N-S (no RANS) for the MSRE work?

It is still worth pointing out that if you get into transitional regimes (anything below 3000 for internal flows), you're going to see issues with standard RANS approaches.

Turbulence and transitional behavior is inherently 3-D phenomena. You won't capture a lot in 2-D that you will in 3-D. Though it may not be important

[2017-12-13 14:52] katyhuff commented on #57
Just for the record, this is false:

:)

[2017-12-13 16:50] gridley commented on #57
Which in particular then? Sorry, not that I was aware of, haha.

Gavin Ridley

[2017-12-13 17:09] katyhuff commented on #57
Depends on which of my proposals get funded. :)

In seriousness though, a number of designs in the open moltres issues (some of which my current graduate students are pursuing) as well as MSRE itself (as noted in the review of our paper) could be expected to reach near turbulent regimes during design basis accident transients.

[2017-12-13 17:24] lcarasik commented on #57
It really sounds like you'd want someone to take a look at transition RANS after implementation of k-e!

[2017-12-13 17:26] gridley commented on #57
Oh haha, nice! Out of curiosity, if it's not classified info, how could the MSRE go turbulent? The only thing I can imagine would be somehow blocking half of the channels. Aside from that, the reviewer's claim of near turbulence didn't agree with @lindsayad's calculation at all (which I trust more). The pump ran at 80% power since the heat transfer calcs were slightly off, which led them to not ru

[2017-12-13 17:52] katyhuff commented on #57
Yes, @lcarasik , particularly someone with your expertise!

I said 'near turbulent regimes during design basis accident transients' not 'turbulent in a steady state scenario.'  In any case, there are plenty of examples of potentially laminar-to-turbulent even in not-far-off-normal MSRE experience. To quote the following about the MSRE experience.... "The regular pattern of the graphite support gri

[2017-12-13 21:06] gridley commented on #57
I agree! Laminar is boring (comparatively). This should be exciting.

[2018-04-03 17:48] katyhuff commented on #16
@andrewryh  --- I think you've done this, right?

[2018-04-03 17:54] andrewryh commented on #16
No, I didn't create SCALE model to generate it. So, it is in a backlog now

[2018-04-03 18:14] katyhuff commented on #16
gotcha.

[2018-08-08 19:09] smpark7 opened #68 "Serpent 2 output converter"
The Serpent 2 output converter file extractSerpent2GCs.py (written by @gridley) is a python script that parses and converts Serpent 2 .coe output files created using the branch card into a format suitable for use in Moltres.

This file is a very convenient tool for the above operation due to the large number of parameters and values that Moltres requires.

It is currently incomplete and not compat

[2018-08-08 19:11] smpark7 commented on #68
I have edited the extractSerpent2GCs.py file and also made some changes to the Moltres tutorial instructions in the README file. I will make a PR once I have cleaned up some minor details.

[2018-08-08 21:29] gridley commented on #68
Maybe it would be better off being rebuilt on the parser in this repo:

https://github.com/CORE-GATECH-GROUP/serpent-tools

It works very well and gets furiously developed by the GA tech people. In addition it's lightweight.

[2018-08-08 22:04] katyhuff commented on #68
Since they're not using moltres there at GATech, I'm not sure I agree.
Since this tool will need to be modified alongside moltres development, it
needs to be in a repository we manage.

On Wed, Aug 8, 2018 at 4:29 PM Gavin Ridley <notifications@github.com>
wrote:

--
Kathryn Huff
Assistant Professor
Nuclear, Plasma, and Radiological Engineering
University of Illinois at Urbana-Champaign
kdhuff@ill

[2018-08-09 00:25] gridley commented on #68
Oh, I meant use their code to parse the .coe, then have a Moltres script do the correctly formatted output.

Gavin Ridley

[2018-08-09 00:51] katyhuff commented on #68
Ah, gotcha. Quite right -- carry on!

On Wed, Aug 8, 2018 at 7:25 PM Gavin Ridley <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2018-08-09 21:02] smpark7 commented on #68
Okay I'll have a look at the serpent-tools parser!

[2018-08-15 14:09] gridley opened #70 "External salt loop only couples on timestep_begin"
In PrecursorAction.C, the code which controls coupling to the external salt loop should be updated so that inlet and outlet connections between the reactor and salt loop get updated at time appropriate for each solve. In particular, the coupling currently only gets updated now at timestep_begin, since we typically run long adaptive timestep transients to obtain the steady state. A (the one) user o

[2018-08-15 15:30] katyhuff commented on #70
Good luck!

[2018-08-15 18:09] gridley commented on #70
Wait... we can just couple only on nonlinear steps. I'll check. Should be a one-word code fix...

[2018-08-22 21:54] smpark7 commented on #68
#71

[2018-08-22 21:54] #68 closed

[2018-08-22 21:57] smpark7 opened #73 "extractSerpent2GCs.py precursor groups"
The current script assumes by default that there are 8 precursor groups. It should be edited to allow for an arbitrary number of groups depending on the type of cross-section data (e.g. ENDF, JEFF) used.

Also, the checking for secondary branch names could be automated for ease of use.

[2018-09-26 15:11] lindsayad opened #75 "Use of uninitialized values in GenericMoltresMaterial"
@gridley, `git blame` tells me that this is your code in `GenericMoltresMaterial::monotoneCubicConstruct` (and also similarly in `GenericMoltresMaterial::linearConstruct`):
[code]
In that last line, `tempLength` is used uninitialized. What should its value be?

[2018-09-26 15:27] gridley commented on #75
Yep! Although there's no stuff in the temperature vector at that point. I'm really confused how this could have got there. Probably some accidental line deletion which didn't get caught in units tests, since this is in a code section which supports not using CHI_D, a previously missing feature in the code. If CHI_D is supplied, this shouldn't get called. Anyways... yes. I'm going to fix this now.

[2018-09-26 15:40] gridley commented on #75
It may appear to not be initialized, but always should be by the time that `for (j=0; j<xsec_names.size;++j)` loop gets to it. That's because xsec_names is hard-coded, and CHI_D always comes past the first element. As long as the first element has been passed, tempLength should be defined.

I think it makes sense to write the code this way. This part of code only gets turned on if CHI_D is missing

[2018-09-26 17:56] katyhuff commented on #75
Closed with #76

[2018-09-26 17:56] #75 closed

[2018-10-26 23:45] smpark7 opened #77 "Running a steady state simulation"
I'm currently trying to get a steady state temperature and neutron flux distribution of the central region of the EVOL MSFR (molten salt fast reactor). For simplicity, I am only considering the inner "pool" fuel salt region of the MSFR with a 2cm thick structural layer that separates the fuel salt from the blanket salt as shown in the figure (height = 188cm and radius = 112.75cm, including the 2cm

[2018-10-27 00:15] gridley commented on #77
Well, it looks to me like the problem is subcritical under these conditions. The error sounds like it’s related to the splines. I checked your data, and your ordinate data does seem to be strictly increasing. Maybe you could try changing the interpolation method in GenericMoltresMaterial around.

Also, I think the lack of benchmarked coupled input on using the eigenvalue solvers is a big deficienc

[2018-10-27 21:32] lindsayad commented on #77
Straight to a 3D simulation for a first run...that's not a strategy I would try when getting started. Is their any way you can approximate the geometry and try solving in 2D cartesian or 2D axisymmetric?

@gridley what do you mean by coupled input? Feedback with temperature? A benchmark example of this would not really belong in MOOSE; it's more of an application.

[2018-10-27 22:48] smpark7 commented on #77
Thanks for your input Alex and Gavin!

@lindsayad I actually started with a 2D axisymmetric model before swapping to the 3D model, because I was getting similar erroneous results and I thought maybe I got the axis of symmetry and the velocity axes wrong. The 2D model gives a similar resulting flux distribution.

@gridley The k_eff values from Serpent are all slightly super critical for most of the

[2018-10-28 02:35] gridley commented on #77
@lindsayad sorry, I was in a rush making the comment about the "lack of benchmarks". I meant that we don't have any unit-tested (or even shown working) coupled eigenmode solves for moltres, which would be good to work on. I'm definitely going to download this and give a 2D solve a shot with the group constants you generated tomorrow @smpark7. I'm pretty excited to see work on MSFRs in Moltres! :D

[2018-10-28 04:47] smpark7 commented on #77
@gridley Cool! I've updated the README in the input-file directory for clarity. The input-data directory, on the other hand, is in a mess but I recommend using the `/input-data/base_config/data3/` data for 6 groups and `/input-data/fuelcore/data2/` for 2 groups. They were generated from Serpent for the geometry in question.

Also, I'm not sure if using reflective BCs will help because I ran Serpen

[2018-10-28 15:15] gridley commented on #77
Well, I meant run Moltres with reflective. Then you could check that approaches a reasonable k_eff at a few different temperatures, without having to worry about leakage effects being your problem and the influence of diffusion coefficients.

Gavin Ridley

[2018-11-05 23:13] smpark7 commented on #77
I just realised that there is zero heat transfer across the fuel/struc boundary throughout the whole transient. So the fuel salt is thermally insulated from the temperature Dirichlet BC that I set on the outer_wall.

Is there something I have to do in Trelis to enable heat transfer across boundaries?

[2018-11-06 02:39] katyhuff commented on #77
probably if you add material properties somewhere in the mesh or in the
material definition add a realistic heat transfer coefficient for that
material.

On Mon, Nov 5, 2018 at 5:13 PM Sun Myung Park <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2018-11-06 02:54] gridley commented on #77
Yep, you can do that for pure conduction with discontinuous conductivity, or use an interface kernel to give it a heat transfer coefficient. The latter is better since you won’t cheaply resolve the thermal boundary layer that otherwise exists in real life. Dittus-Boelter would probably work well here.

Good luck!

[2018-11-07 22:19] smpark7 commented on #77
Thanks for the help guys!

I'm considering using SCALE to get neutronics and steady state data to compare with what I've done on Serpent and Moltres thus far.

While getting SCALE to work on my desktop, I tried a simple Moltres simulation with a very simple geometry, a cylinder of height = 100cm and radius = 50cm, with no flow and reflective BCs. It is a single region with LiF - UF - ThF salt, the

[2018-11-22 20:06] lindsayad commented on #77
For a simple geometry like this, have you considered just using MOOSE's `GeneratedMesh` capabilities?

[2019-01-03 16:11] andrewryh commented on #77
@smpark7 Have you consider use OpenMC to generate multigroup cross sections and diffusion coefficients? Those guys have done it: https://www.sciencedirect.com/science/article/pii/S0306454917303754

[2019-02-19 00:24] joonhon opened #80 "Error getting pre-concs values from previous run for restart"
This error appears in the LOSCA example problem in /MOLTRES/problems/LOSCA as well as other input files that attempted to retrieve pre-concs values from previous simulations (.e files).

To replicate the error:
1) cd to /MOLTRES/problems/LOSCA
2) Mesh the geo file. (Follow the same step as described in https://github.com/arfc/moltres/tree/devel/problems/LOSCA)
3) Run the input file "auto_diff_rho.

[2019-02-19 00:29] katyhuff commented on #80
Can you update moose and moltres, and rebuild, then see if you still get this error? New changes in moltres have been made to keep moltres up to date with new versions of moose... It's usually best to use the most updated version.

[2019-02-19 02:47] joonhon commented on #80
Hi all, just rebuilt moose and moltres to the latest versions. Re-ran the above LOSCA example and the error persisted:
"Error getting elemental values.
[0] ../src/mesh/exodusII_io_helper.C, line 1059, compiled Feb 18 2019 at 20:14:09
application called MPI_Abort(MPI_COMM_WORLD, 1) - process 0"

Examining the exodusII_io_helper.C file, line 1059 is:
`      EX_CHECK_ERR(ex_err, "Error getting elemen

[2019-02-19 14:13] gridley commented on #80
Well, since this superficially looks deeper than Moltres. The first thing to do is check which branch of MOOSE you pulled from---it could be a bleeding-edge branch failing unit tests. To figure out if it is MOOSE, you could try to run something dead-simple: heat conduction. See this example.

https://github.com/idaholab/moose/blob/next/modules/heat_conduction/test/tests/verify_against_analytical/1

[2019-02-20 00:19] lindsayad commented on #80
A working path is [here](https://github.com/libMesh/libmesh/pull/2041)

[2019-02-21 08:02] joonhon commented on #80
@lindsayad Thanks! I recompiled libmesh (and MOLTRES) with the modified exodusII_io_helper.C and there are no more problems with restarting using the previous run's pre-conc values!

[2019-02-21 16:00] lindsayad commented on #80
That's great to hear!

On Thu, Feb 21, 2019 at 1:02 AM Alvin Lee <notifications@github.com> wrote:

[2019-03-14 15:33] lindsayad commented on #23
Why was this closed? Has someone actually modeled a Transatomic-like reactor? If so, it hasn't been committed to the repo

[2019-04-10 15:37] gridley commented on #80
Does this work now for sure @joonhon? If so the issue could be closed.

[2019-04-10 15:38] gridley commented on #70
PR #72 fixed this.

[2019-04-10 15:38] #70 closed

[2019-04-11 03:47] joonhon commented on #80
Hi Gavin, thanks for the reminder. I believe the issue has been resolved. I'll close the issue, Thanks!

[2019-04-11 03:47] #80 closed

[2019-04-12 19:03] dogrady2 opened #83 "Physics Addition: Xenon tracking"
This issue can be closed when a capability for xenon-135 tracking is implemented in moltres

[2019-04-25 22:12] smpark7 opened #85 ""PrecursorAction.C" precursor scaling not applied"
It seems that the PrecursorAction.C action file does not apply a scaling factor to any delayed neutron precursor group variable.

It currently takes in a parameter called "prec_scale" but it does not apply the scaling factor.

[2019-04-25 22:40] smpark7 commented on #77
I have managed to get a transient simulation of the MSFR towards steady state using a simplified 2D axisymmetric geometry. Thus, I'll consider this issue solved.

The scope for work beyond this level is covered by issue #21

[2019-04-25 22:40] #77 closed

[2019-04-26 02:50] lindsayad commented on #77
Good to hear!

[2019-05-01 02:34] smpark7 commented on #85
I may have misunderstood the purpose of prec_scale.

I simply wanted to apply a scaling factor in the Variables definition in PrecursorAction. This is easily applied by typing "scaling = 1e6" for example when initializing PrecursorAction.

It appears as though prec_scale does not do anything.

[2019-05-01 03:31] gridley commented on #85
Are you looking for scaling within the paraview output? I think this is
more of a numerical technique to keep multiply/add work done around 1 where
double precision numbers have the highest density. For instance, you could
run moltres in gdb and try printing out your residual in a kernel residual
evaluation, and most likely see the scaling there. This is something Alex
wrote though, so I'm not 100

[2019-05-01 17:48] smpark7 commented on #85
Thanks for your help @gridley
I think "scaling = 1e6" affects the numerical technique that you mentioned (and convergence?), and I've already implemented it.

It appears that "prec_scale" is an input parameter for PrecursorSource and PrecursorDecay kernels.

Anyway, I've (probably) solved my convergence/precision issue by applying "scaling".

I'll close this issue soon, but maybe wait for Alex to

[2019-05-01 18:07] smpark7 opened #86 "Function velocity for precursors in Loop App"
I am trying to simulate a ULOF scenario, by exponentially coasting down the pump with a time constant of 5sec.

I first tried using u_func, v_func, w_func to define the velocities as a function of time in PrecursorAction. I got the following error:

`Variable, looped precursor advection requires that variable velocity has the values uu, vv, ww set through the controls module, NOT simply specifying

[2019-05-01 20:49] lindsayad commented on #85
It indeed doesn't appear that `prec_scale` is applied anywhere in the action. It looks like it could be used and applied when creating the `PrecursorSource` and `PrecursorDecay` kernels. The doc string in the action definitely appears to be wrong...it should read "The amount by which to scale precursors". Anyway I think the thought behind those parameters was potentially for unit scaling, whose go

[2019-05-02 16:12] smpark7 commented on #85
Thank you for the clarification. I'll close this issue now.

[2019-05-02 16:12] #85 closed

[2019-05-08 22:57] smpark7 commented on #86
This issue can be resolved by replacing `*/*/u_def` with `*/*/uu` in the control object.

[2019-05-08 22:57] #86 closed

[2019-05-13 13:35] katyhuff opened #87 "Add input file checking to continuous integration"
The current (large) set of example input files seems to include a handful that don' t work due to backwards incompatibility (see moltres-users list). These files should be checked (e.g. syntax checked by the moose/moltres input parser), but not run, in the continuous integration system.

[2019-05-15 22:52] lindsayad opened #88 "Problems is a maintenance problem"
The `problems` directory is a maintenance problem. Users come and use Moltres and they use input files in that directory as jumping off points for their work, which is great. The problem is that at least some of them (probably most) won't run with modern Moltres/MOOSE. We should at least be running syntax checks on any input file in that directory (and sub-directory) in order to ensure that a new

[2019-05-15 23:45] katyhuff commented on #88
I agree. I was thinking the same (see https://github.com/arfc/moltres/issues/87)

[2019-05-15 23:47] katyhuff commented on #88
(and -- I'll have a handful of undergrads this summer, and we have a handful of grads starting to have moltres responsibilities... @smpark7 @achubbz @robfairh @joonhon @dogrady2 ... so hopefully we can get some folks to dedicate a little time to this. shouldn't take long, but might be a couple weeks from now before it's done.)

[2019-05-16 01:21] lindsayad commented on #88
The github issue suggester should have done a better job :-) closing in favor of #87

[2019-05-16 01:21] #88 closed

[2019-07-31 21:07] katyhuff opened #95 "Bring Moltres into the present with Python 3 compatibility"
This issue can be closed with either:

- a PR that converts Moltres to python3 compatibility (python3.6 or above)
- a reason that we can't move forward in time (e.g. .... is the moose framework still using python 2.7?)

[2019-07-31 22:10] gridley commented on #95
So, what scripts don’t actually run on python 3? I glanced at them and didn’t see any “print ‘asdf’”, etc. I’d totally fix this since it should consist of just some sed commands.

[2019-08-01 00:10] katyhuff commented on #95
Someone told me today there was an issue:
@samgdotson or @robfairh  -- I honestly don't recall which one of you was having trouble.
Can you clarify or close?

[2019-08-01 00:19] robfairh commented on #95
I mentioned the thing about the coupling between the velocity and the temperature, but I was mistaken.
If it wasn’t you @samgdotson then you can close the issue.

[2019-08-01 15:07] robfairh commented on #95
I discussed with @samgdotson the issue.
The issue is that run_tests requires python 2 to run. This is something of Moose.
https://groups.google.com/forum/#!topic/moose-users/yLf7otEUksE

Running moltres doesn't have any issues of compatibility.

If I modify the first line of run_tests for:
#!/usr/bin/env python2

then the tests run. This could be an available option to make the tests run and close

[2019-08-01 15:16] gridley commented on #95
Might just be worth looking into why MOOSE still uses Python 2 (surprising!). It’s usually just the different print statement format that causes incompatibility in my experience.

Gavin Ridley

[2019-08-01 16:32] robfairh commented on #95
Yes, run_tests relies on files like this one:
https://github.com/idaholab/moose/blob/master/python/FactorySystem/Factory.py

where all the print statements have the python 2 format.
What should we do about this issue then? @katyhuff

[2019-08-01 16:36] gridley commented on #95
Why not just find and replace to Python 3 print statements and submit a PR
to MOOSE?

On Thu, Aug 1, 2019 at 12:32 PM robfairh <notifications@github.com> wrote:

--
Thanks,
Gavin Ridley

[2019-08-01 17:59] robfairh commented on #95
We would have to check if that works, I don't know if it is just the print statements or not.
According to this, there are more things that use python 2: the RHEL cluster systems.
https://groups.google.com/d/msg/moose-users/yLf7otEUksE/l2SmgydaBwAJ

[2019-08-01 18:10] gridley commented on #95
Hm, well, if they’ve not changed it yet, maybe we should prod them to do it. Not that it matters that much at the moment, aside from being an annoyance.

Gavin Ridley

[2019-08-15 19:05] smpark7 commented on #57
I'm working towards implementing and demonstrating this model for MSFRs modeling. I noticed that @lindsayad had already coded much of the work in the ```INSMomentumKEpsilon``` and ```INSK``` kernels (although ```INSK``` had been moved out of Moltres in a previous commit). May I inquire how much has been completed and where I should start?

[2019-08-15 19:20] lcarasik commented on #57
Just a quick drop in comment, please make sure the flow is fully turbulent if you apply it! If it isn't fully turbulent, you'll applying the turbulence model outside of it's applicability.

[2019-08-15 19:22] katyhuff commented on #57
Let's chat in person?....

[2019-08-15 19:22] katyhuff commented on #57
@smpark7 let's chat in person about your question:

[2019-09-09 20:53] katyhuff commented on #16
Should this be closed as wontfix? Alternatively, we could unassign it from you, and let someone else pick it up sometime.

[2019-09-09 20:53] katyhuff commented on #18
Should this be closed as finished or as wontfix? Alternatively, we could unassign it from @andrewryh , and let someone else pick it up sometime.

[2019-09-09 20:54] katyhuff commented on #21
Can this be closed @smpark7 ?

[2019-09-09 20:56] andrewryh commented on #18
@katyhuff
As far as I know, it is already a working feature, seamlessly for the user (libMesh do it). So, I guess it can be closed. But @lindsayad knows better

[2019-09-09 20:57] andrewryh commented on #16
Let's unassign it

[2019-09-09 22:06] smpark7 commented on #21
Yes this can be closed. The MSFR design has been modeled with plug flow for steady state and transient scenarios.

[2019-09-09 22:06] #21 closed

[2019-09-10 02:24] lindsayad commented on #18
Yea this certainly isn’t a bug. Any MOOSe simulation can be run with distributed mesh these days. So yea I would probably close this as in issue. It’s more like “it would be cool if we ran a 10 million element mesh so that we need to use a distributed mesh” kind of thing :-)

[2019-09-10 02:26] lindsayad commented on #18
Closing because MOOSE runs reliably with distributed mesh (indeed it is a test target that is run with every pull request into MOOSE)

[2019-09-10 02:26] #18 closed

[2019-10-24 19:57] smpark7 commented on #95
The MOOSE team are updating all python code in MOOSE to python3.7 by October 28

https://groups.google.com/forum/?pli=1#!topic/moose-users/iMTWElMYuRQ

[2019-11-12 17:10] smpark7 commented on #95
I believe this can be closed as the run_tests script is now compatible with python3. I'll close this issue if no one disagrees

[2019-11-12 18:44] #95 closed

[2019-11-12 18:44] katyhuff commented on #95
(no need to wait... just close an issue when you feel it's ready..)

[2019-11-18 21:06] robfairh opened #102 "'extractSerpent2GCs.py' does not work"
I am trying to follow the tutorial to create the XS for the moltres input and trying to reproduce the tutorial:
https://github.com/arfc/moltres/tree/devel/tutorial/step01_groupConstants

and this is the error I get:
[code]

The issue can be closed when 'extractSerpent2GCs.py' works again for the example in the tutorial.

[2019-11-18 21:12] robfairh opened #103 "'extractSerpent2GCs.py' should allow more flexible input data naming convention"
The tutorial:
https://github.com/arfc/moltres/tree/devel/tutorial/step01_groupConstants

defines serpent input files for the materials 'fuel' and 'moder' with the same names. Then, serpent produces the XS in the .coe files with the same names ('fuel.coe' and 'moder.coe'). In the case I have only one serpent input file, the .coe file won't have the same name as the materials, casing 'extractSerpent

[2019-11-18 21:33] gridley commented on #103
Are you simultaneously perturbing temperatures on each material, or one at a time? It was written like this because if you do all the branching in one file, Serpent will cover the whole case matrix of mixtures of each temperature you're covering in each material. So, I split the simulations into one serpent input per material, where each input file covers the temperature perturbations for that mat

[2019-11-18 21:50] robfairh commented on #103
Okay, I see. I was trying to get the moltres input data for this serpent file:
https://github.com/arfc/msr-neutronics/blob/master/MSFR/serpent/MSFR_base
where all the branching is defined in that file. What are the XS in the .coe then? Is that the homogenized data? Or is it the XS for the fuel (branch fuel0) when all the materials are in thermal equilibirum? This is clearly a different approach to

[2019-11-18 22:25] smpark7 commented on #103
The script allows for temperature perturbations on one material per Serpent input file. For that Serpent input file in the link, I "cheated" by defining uniform temperature across the whole reactor for each branch, and copying the single .coe file into numerous copies for each material. That's why it looks inefficient. I did this because it was easier to put everything into one Serpent run and it

[2019-11-18 22:28] robfairh commented on #103
That's okay. I think for now we can leave it like this but I believe that the tutorial should mention this. Otherwise, other users (like me) will have to struggle for some minutes until realizing what's going on.
So the issue can be closed when a few lines in the tutorial mention this.

[2019-11-18 22:30] smpark7 commented on #102
I can't replicate this error. Do you have the latest version of Moltres? We made a PR last week to fix a bug in extractSerpent2GCs.py

[2019-11-18 22:40] robfairh commented on #102
I know. And yes, I have the latest version.

[2019-11-18 22:52] smpark7 commented on #102
Did you run ```extractSerpent2GCs.py MSREProperties msre_gentry_4g tempMapping.txt secBranch.txt universeMapping.txt```?
Also, it seems as though you renamed the python script to ```extract2.py```. Check whether it's the same as the latest file we have on the repo.

[2019-11-18 22:53] robfairh commented on #102
[code]

[2019-11-19 04:34] smpark7 commented on #102
It appears that serpent-tools made a change to accept non-integer IDs for universes. I haven't looked at it closely but I think the coe parsing function produces a dict with string keys for the universe ID. So for this case, instead of ```(2, 0, 0)```, it should be ```("2", 0, 0)```.

This should be a simple fix so you're welcome to make a PR to fix the script. Otherwise I'll try to make one somet

[2019-11-19 05:23] smpark7 commented on #73
Closed by #100

[2019-11-19 05:23] #73 closed

[2019-11-26 17:07] #102 closed

[2019-12-09 17:49] robfairh commented on #103
This issue will be closed and will remain as a reference for people who struggle to follow the tutorial to convert the XS from serpent to moltres format.

[2019-12-09 17:49] #103 closed

[2020-02-10 22:01] smpark7 opened #107 "Fission spectra, CHI vs CHIP vs CHID"
Currently, the two common material kernels for Moltres, ```GenericMoltresMaterial``` and ```MoltresJsonMaterial```, import ```CHIT``` and ```CHID``` values from Serpent output data.

[2020-02-10 22:01] smpark7 opened #108 "Fission spectra, CHIT vs CHIP vs CHID"
Serpent outputs the fission spectra data as ```INF_CHIT```, ```INF_CHIP```, and ```INF_CHID```, which are the total effective, prompt and delayed fission spectra.

Currently, the two common material kernels for Moltres, ```GenericMoltresMaterial``` and ```MoltresJsonMaterial```, import ```INF_CHIT``` and ```INF_CHID``` values from Serpent output data. They're imported and renamed into ```chi``` an

[2020-02-10 22:14] smpark7 commented on #108
![image](https://user-images.githubusercontent.com/30237775/74195154-4051f980-4c20-11ea-9936-09eee6a9904d.png)

```CHI``` values here to show that the differences are significant.

[2020-02-10 22:24] smpark7 commented on #108
Also, I'm not sure about SCALE output format and whether it has the same issue.

[2020-02-13 04:03] robfairh commented on #107
this is repeated in #108

[2020-02-13 04:03] #107 closed

[2020-02-13 21:28] katyhuff commented on #108
The actual problem is not quite what you have described here.
The correction is made, appropriately, if accounting for delayed neutrons with the approach:

$$\Chi_p = (1-\beta) \Chi_d$$

We do this in the if block related to _account_delayed.

As discussed in our meeting, though, we should probably do this individually for each group, though... That's a separate issue.

[2020-02-14 20:58] smpark7 commented on #108
It should be that <img src="https://render.githubusercontent.com/render/math?math=\chi^p_g \neq (1-\beta)\chi^t_g"> because the values I provided above show that for some groups, <img src="https://render.githubusercontent.com/render/math?math=\chi^p_g > \chi^t_g">, while <img src="https://render.githubusercontent.com/render/math?math=\chi^p_g < \chi^t_g"> for others. If the equality were true, \ch

[2020-06-20 03:17] dschwen opened #110 "Set constant_on default back to NONE in NuclearMaterial"
For some reason `NuclearMaterial` inherits from `GenericConstantMaterial`. As an optimization I'm working of defaulting `GenericConstantMaterial` to be evaluated only once per subdomain (it is supposed to be constant by design). However, the Moltres materials that derive from it are not constant. Thus, we need to set the default for the `constant_on` option back to NONE in there.

See https://gith

[2020-06-23 17:44] #110 closed

[2020-06-24 17:05] gridley commented on #108
Hey @smpark7, I don't know if you ever fixed this, but I just had to do the math on this for another project and thought I'd share my result with you. You're definitely correct that the current approach is incorrect. If there is a separate delayed neutron emission spectrum for each delayed group, the relation should be

![image](https://user-images.githubusercontent.com/18088906/85600061-1e7b7100-

[2020-06-25 06:01] smpark7 commented on #108
Hi @gridley, I have not implemented a fix for this but it should be a relatively simple task of swapping the CHI_T's for CHI_P's under a conditional that checks whether CHI_D data exists. I will self-assign this as a backlog task to be completed in the next week or so but feel free to make the changes if you want to jump in earlier.

[2020-07-13 16:33] robfairh opened #114 "Eigenvalue calculation fails with reflectors"
When I try to run an eigenvalue calculation, the flux shape I get is clearly wrong.
The geometry is very simple. It is a 1D version of a reactor that has a bottom reflector, fuel, and a top reflector.
I am comparing the Moltres results with a 1D Finite-Difference (FD) solver (and a plot from Serpent from the 3D version of the same reactor).
The predicted eigenvalue is close to what the FD solver p

[2020-07-13 16:35] robfairh commented on #114
@smpark7 @joonhon any ideas?

[2020-07-13 16:38] robfairh commented on #114
I originally thought that there was a problem with the volumes.
It seemed to me that the calculations were dividing the fluxes by the volumes.
As the volume of the fuel is larger than the volume of the reflectors, then the flux in the active core ends up being flatter than the flux in the reflectors.
However, I modified my mesh so the volumes of the 3 regions are equal, and the result I got is the

[2020-07-13 16:57] katyhuff commented on #114
- You say you're making this comparison to a 1D Finite-Difference (FD) solver ... is this something you created?
- Regardless, let's focus on the serpent results as the truth (not the 1d FD solver). It seems like this could be from some geometry approximation. .. . you say the Moltres geometry is 1D? How exactly?
- How did you homogenize the cross sections exactly, for the moltres model?
- I under

[2020-07-13 17:16] joonhon commented on #114
@robfairh I'm inclined to think that the 1D FD solver may be the odd one of the three. The reason is that if you're solving a reactor in 1D, you have infinite x and y dimension and that means the reactor has 2 less dimensions to 'leak' the neutrons from and as a result should have a flatter profile as compared to the 3D case. Therefore, the 1D FD result looking like the serpent result suggests tha

[2020-07-13 18:33] robfairh commented on #114
Thank you guys for your comments. I will try to answer your questions.

@katyhuff:
* You say you're making this comparison to a 1D Finite-Difference (FD) solver ... is this something you created?

Correct. I made the FD solver.

* Regardless, let's focus on the serpent results as the truth (not the 1d FD solver). It seems like this could be from some geometry approximation. .. . you say the Moltre

[2020-07-13 18:39] katyhuff commented on #114
You should divide $\Delta z$ by 3 if you're multiplying n_points by 3. Otherwise, you're increasing the height of your reactor by 3x. (as seen in increased height in the plot)

[2020-07-14 00:21] gridley commented on #114
Judging from the appearance of the flux distribution Moltres is giving you, and the fact that your eigenvalue is correct, I would imagine this is a symptom of not using enough power iterations. Can you include a list of the sequence of eigenvalues computed by the solver? Or maybe you should plot them to see if they have converged. This should be a simple copy-paste from the terminal.

100 power it

[2020-07-21 10:56] smpark7 opened #116 "Add test for precursor looping capability"
There is currently no test for the precursor looping capability. The existing test for the general precursor functionality checks for the movement of precursors in a 2-D MSRE-like model but it does not loop the out-flowing precursors back into the core.

We can implement the test by adopting the same 2-D MSRE-like model and a separate 1-D pipe through which the precursors flow into, decay, and flo

[2020-07-21 20:53] robfairh commented on #114
I made the model in Serpent of the fuel column (i.e. 10 fuel assemblies stacked on top of each other, bottom, and top reflectors) to generate the cross-sections for Moltres.

The following figure shows the flux calculated with Serpent (both fluxes are divided by the group 1 flux max value). Keff = 1.41933 +/- 0.00006.

![standard-column-detector-AxialB](https://user-images.githubusercontent.com/43

[2020-07-21 20:53] #114 closed

[2020-07-27 12:42] katyhuff opened #118 "Get rid of comment cruft in various input files"
Some of the input files in the examples and tests need a little cleanup. I know @smpark7 is doing some spring cleaning. This issue can be closed with a PR that removes commented out parameter assignments in those input files.

e.g. https://github.com/arfc/moltres/blob/devel/tests/laminar_flow/tests

[2020-07-28 07:54] smpark7 opened #119 "MoltresJsonMaterial.C doesn't work 1) with Serpent 2 XS and 2) in a precursor loop simulation"
MoltresJsonMaterial.C currently has three known bugs.

Firstly, it doesn't work with Serpent 2 XS data because it does not recognize that Serpent 2 provides the overall BETA_EFF and LAMBDA data in addition to the six or eight individual precursor group data. The extra data entry in each dataset triggers a mooseError when a function in MoltresJsonMaterial.C checks the length of the datasets with th

[2020-08-06 16:23] #116 closed

[2020-08-12 11:12] smpark7 opened #121 ""use_exp_form = true" flag often causes simulations to fail"
The ```use_exp_form = true``` flag allows users to track neutron flux values as exponent values instead of raw values (e.g. e^10 -> 10). Refer to ```moltres/src/base/ScalarTransportBase.C``` for the source code.

However, this flag requires careful use because it easily triggers the ```DIVERGED_FNORM_NAN``` error on nonlinear solve iterations. The error message does not indicate that ```use_exp_fo

[2020-08-17 20:01] gridley commented on #121
I think deprecating `use_exp_form` would be worth considering. It adds a pretty large expense to have to compute logarithms at each quadrature point. In fact, I believe it would speed moltres up fairly to simply eliminate the `computeQpConcentration`. I can't think of any problem where this approach is actually necessary. Maybe there is some problem where this is required in plasma problems, but t

[2020-08-20 10:57] smpark7 commented on #121
Hi @gridley . Yea I also can't think of cases when ```computeQpConcentration``` would be useful. MOOSE provides better alternatives for scaling. I'll probably make a PR for this when I have the time.

[2020-09-11 13:29] #23 closed

[2020-09-11 13:29] #16 closed

[2020-09-11 16:46] yardasol opened #122 "paper Makefile broken (pandoc --smart/-S has been removed)"
Line 6 of Makefile in moltres/paper/ is currently broken. Running ```make all``` returns following error message:

[code]
Upon review of the [pandoc user guide](https://pandoc.org/MANUAL.html#options), I found that the ```-s -S``` flags are now redundant, as both flags are automatically included for markdown input and pdf output.

I have opened #123 to fix this issue

[2020-09-11 16:56] #122 closed

[2020-10-01 12:16] #108 closed

[2020-10-01 12:16] #119 closed

[2020-10-16 13:37] gwenchee opened #126 "Add openmc interface to moltres_xs.py"
This issue can be closed when the capability to extract homogenized group constants from OpenMC to Moltres is added.
This should be added to https://github.com/arfc/moltres/blob/devel/python/moltres_xs.py

[2020-10-16 14:08] gwenchee commented on #126
<img width="595" alt="Screen Shot 2020-10-16 at 10 08 19 PM" src="https://user-images.githubusercontent.com/29397884/96268828-1c8b5280-0ffc-11eb-8bb1-cc72fbc93b97.png">
This is the table I made outlining the openmc constants that correspond to the moltres ones

[2020-10-16 16:01] yardasol opened #128 "CONTRIBUTING.md document has broken links"
Links in the CONTRIBUTING.md document are broken. This issue can be closed when the links are fixed to direct to the intended resource.

[2020-10-16 16:44] yardasol opened #129 "Create a Contributor Code of Conduct"
Moltres does not have a Contributor Code of Conduct. A Contributor Code of Conduct defines expected behaviors for all contributing members to a project as well as consequences for not following the behavior. A code of conduct is important for open source projects like Moltres to ensure constructive interactions between contributors in general, and especially when there are conflicts of opinion.

T

[2020-10-16 16:54] yardasol opened #130 "Create templates for issues and pull requests"
EDIT 1: The first comment below strongly discourages an entire new document be created for contributing and suggests using GitHub templates instead along with editing he CONTRIBUTING.md document. I agree this is a much more efficient approach. The issue has been updated to reflect this.

Moltres development could be improved by adding templates for issues and pull requests. The existence of these

[2020-10-16 17:01] yardasol opened #131 "Create a Style Guide"
EDIT 1: The first comment below specifies a new style guide is not necessary and linking to the MOOSE code standards should be sufficient. The title of this issue has been updated to reflect this.

The current CONTRIBUTING.md file's link to the MOOSE code standards is broken.

This issue can be closed when the CONTRIBUTING.md document links to the [correct MOOSE code standards page](https://www.mo

[2020-10-16 17:01] katyhuff commented on #130
- Moltres has a contributors guide. It's CONTRIBUTING.md, which you've noted. A new "contributing guide" should not be created. If things are missing from contributing.md, then perhaps they should be added to contributing.md. A new document should *not* be created because it will create a second place to maintain in parallel.
- There is no need in any git workflow for folks to "bug report/feature

[2020-10-16 17:01] yardasol opened #132 "Update CONTRIBUTING.md"
The CONTRIBUTING.md document has not been changed since 2017. Since then, the project has grown and many more lines of code have been added. The CONTRIBUTING.md document should be updated to ensure high quality contributions. This issue depends on the following:

 - A contributor Code of Conduct (Issue #129)
 - A Contributing Guide (Issue #130)
 - A Style Guide (Issue #131)

These dependent issues

[2020-10-16 17:04] yardasol opened #133 "Sparse documentation?"
EDIT 1: The first comment below pointed out the language of the original issue had a bit of a critical and disrespectful tone. I generally agree and have updated the issue to reflect this.

The MOOSE code standards recommends that documentation be used often. Here is the example of the level of documentation expected from the [MOOSE code standards](https://www.mooseframework.org/framework_developm

[2020-10-16 17:05] katyhuff commented on #131
Moltres does and should follow the already existing MOOSE style guide. Please do not create a second style guide just for moltres. Please just link to the MOOSE one.

https://www.mooseframework.org/framework_development/code_standards.html

[2020-10-16 17:16] katyhuff commented on #133
A contributing.md document exists and Moltres follows the MOOSE style guide and is not duplicated in this repo (because D.R.Y.). Please see my comments on the other issues with respect to these notes.

I understand that as a new user, you may feel confused by some of the documentation and I support improvements for clarity. I encourage those changes that you feel would be helpful. However, I also

[2020-10-16 17:21] katyhuff commented on #129
The ARFC code of conduct applies to all ARFC projects. I suggest that this issue can be closed by linking to that CoC in the README and/or CONTRIBUTING.md.

I would prefer not to maintain separate codes of conduct for all the dozens of projects in the ARFC umbrella.

[2020-10-16 17:42] katyhuff commented on #133
Since this issue merely exists to refer to other subissues, I'd like to close it as duplicative. What do you think @yardasol?

[2020-10-16 17:46] yardasol commented on #133
I agree that this issue should be closed as duplicative.

[2020-10-16 17:50] yardasol commented on #131
Makes sense to me. Issue has been updated to reflect this.

[2020-10-16 17:50] yardasol commented on #131
Hmm, now this seems to just duplicate #128. Going to close as duplicative.

[2020-10-16 17:50] #131 closed

[2020-10-16 17:50] yardasol commented on #131
duplicative of #128

[2020-10-16 17:55] yardasol commented on #129
That makes sense. I have updated the issue to reflect this.

[2020-10-16 18:04] yardasol commented on #130
I see your point and I agree. The issue has been updated.

[2020-10-16 18:14] yardasol commented on #133
Hmm, well now with these edits I think it is closer to being its own issue now

[2020-10-16 18:17] yardasol commented on #132
closing b/c duplicative of #129, #130, #131. See comments in those issues for more details

[2020-10-16 18:17] #132 closed

[2020-10-16 18:40] yardasol commented on #133
@katyhuff okay so I made some more edits and I think this issue is more appropriately worded now.

[2020-10-16 18:54] katyhuff commented on #130
Thanks!!

[2020-10-16 18:55] katyhuff commented on #133
Thanks!!

[2020-10-19 17:37] smpark7 commented on #133
I've just briefly checked through a few of the kernel ```.h``` files and I noticed that some (e.g. ```GroupDiffusion.h```) are missing documentation.

We can make a list of these files and make the appropriate edits to the documentation. In case you didn't know, [here](http://arfc.github.io/software/moltres/wiki/input_example/)'s a thorough breakdown of an example Moltres input file. If you're pla

[2020-10-22 10:49] smpark7 opened #136 "Replace deprecated code involving ifndef -> pragma once"
This issue can be closed when the following change is made to all relevant header files to bring Moltres in line with the latest MOOSE style guide.

#### Changing ```#ifndef``` to ```pragma once```

The MOOSE team transitioned to using ```pragma once``` because

as mentioned in this MOOSE [newsletter](https://mooseframework.inl.gov/newsletter/2019_05.html).

[2020-10-22 10:50] smpark7 opened #137 "Replace deprecated code involving validParams"
This issue can be closed when the following change is made to all relevant header files to bring Moltres in line with the latest MOOSE style guide:

#### Update ```validParams``` to a static function

The MOOSE team updated the framework to use a static function for ```validParams```, replacing the old declaration of the template specialization of ```validParams```, as mentioned in this [newslette

[2020-10-23 00:57] yardasol commented on #133
Good idea with making the list. I've made a [textfile](https://github.com/yardasol/moltres/blob/docum/list_of_files_to_add_documentation.txt) in the docum (short for documentation) branch of my arfc repo that has the names of all the files in src/ and include/ and is ready to be filled in with what changes or additions we should make for each file. I don't anticipate needing help on that, and it'l

[2020-10-23 15:46] #128 closed

[2020-11-05 08:37] smpark7 opened #139 "PrecursorAction.C code cleanup"
PrecursorAction.C contains many repeating if-else conditionals and a code structure that is tedious to read. In contrast, it is much easier to follow the logic in INSAction.C in the Navier-Stokes module in MOOSE

This issue can be closed when we've applied the DRY (Don't Repeat Yourself) principle and properly "functionalized" the code in PrecursorAction.C.

[2020-11-05 11:11] smpark7 opened #140 "Change stabilization parameter, tau, in ScalarAdvectionArtDiff"
This issue can be closed when the formulation for stabilization parameter, ```tau```, in ```ScalarAdvectionArtDiff``` follows the artificial diffusion scheme. A derivation is provided in this [paper](http://www.cimne.com/eoOld/publicaciones/files/PI183.pdf) under Section 3.1.

The formula for tau is given as:
![image](https://user-images.githubusercontent.com/30237775/98233706-64b5e900-1f9a-11eb-8

[2020-11-05 14:01] #47 closed

[2020-11-07 12:35] robfairh opened #141 "FissionHeatSource.C may be wrong"
At the moment the [FissionHeatSource](https://github.com/arfc/moltres/blob/devel/src/kernels/FissionHeatSource.C) calculates the following:

[code]

*power* being the reactor power and *tot_fissions* is the integral of the fission rate in the reactor.

This is the formula:
<img src="https://render.githubusercontent.com/render/math?math=%5Cfrac%7B%5CSigma_f%5Cphi%7D%7B%5Cint%5CSigma_f%5Cphi%20dV%7D

[2020-11-08 12:58] robfairh commented on #141
@smpark7 thoughts?

[2020-11-09 15:26] smpark7 commented on #141
@robfairh Hey yea I think you're right. I never noticed because all of the reactors I've dealt with so far only had regions that shared the same Kappa.

[2020-11-09 15:34] smpark7 commented on #141
The KAPPA values can differ between neutron energy groups too (by ~1MeV). So this is wrong even for a single fuel region reactor if you have > 1 energy group.

[2020-11-09 16:38] robfairh commented on #141
Oh yeah, you are right.
I'll implement the changes and make a PR.
The changes in FissionHeatSource.C are straightforward, but there are several files that use it and the implementation will not be backward compatible.
Those files are part of the tests and some of the problems.
I will make the changes in the tests files, should I do it for the problem files as well?

[2020-11-09 16:53] smpark7 commented on #141
Seems like there's one test that uses it. The resulting flux should be almost the same since the group 1 and 2 FISSE only differ by 1e-4 MeV. The problem files have long been backward incompatible (#87) so don't worry about those.

[2020-11-10 14:01] robfairh commented on #141
The Jacobian is also wrong. Here is the current Jacobian:
[code]

It is missing '_phi[_j][_qp]'.
The new Jacobian should look like this:

[code]

[2020-11-10 14:04] robfairh commented on #141
[FissionHeatSourceAux](https://github.com/arfc/moltres/blob/devel/src/auxkernels/FissionHeatSourceAux.C) is also wrong. Same issue as FissionHeatSource.C

[2020-11-12 07:49] #141 closed

[2020-12-01 13:44] robfairh commented on #140
@smpark7 I have approved #144 because the implementation is correct.
Could you add more detail to this issue about why this is important for Moltres?
I'll merge the PR once you have replied to this question (so the PR doesn't close the issue).

[2020-12-01 18:18] smpark7 commented on #140
The current ```PrecursorAction``` uses DG-FEM with delayed neutron precursor concentrations as constant monomial variables for simulating precursor behavior. While this has been quite adequate and accurate for past test cases (e.g. MSRE, MSFR), I've encountered significant truncation error in high-gradient regions (e.g. near boundaries with high leakage) due to the zeroth order variables.

For the

[2020-12-01 19:34] #140 closed

[2021-01-19 09:29] smpark7 opened #146 "Update Doxygen documentation"
This issue can be closed when the Doxygen documentation in Moltres is updated to reflect the latest Moltres build.

The goal is to update the Doxygen generated html files for ```arfc.github.io/moltres```, which were last compiled in 2017, so that the latest kernels and other objects are accounted for.

This is separate from (but somewhat related to) issue #133, which highlights missing docstrings

[2021-01-19 09:32] smpark7 commented on #146
@yardasol How's the progress with #133? I was thinking of just updating the Doxygen files first and then running another update after #133 is resolved

[2021-01-19 16:12] yardasol commented on #146
@smpark7 I started a [list of files](https://github.com/yardasol/moltres/blob/docum/list_of_files_to_add_documentation.txt) back in October in order to determine which ones needed attention. Most of it is not currently filled out.

[2021-01-19 16:14] yardasol commented on #146
@smpark7 Are you updating the existing doxygen files or are you adding new ones as well?

[2021-01-19 16:32] smpark7 commented on #146
Both. Doxygen updates existing files if there are any changes, and creates new ones for kernels/objects that didn't exist before. I'll go ahead and make a PR because a Doxygen update is long overdue. We can update it again whenever needed

[2021-01-19 17:08] smpark7 opened #147 "PrecursorAction with continuous variables"
This issue can be closed when PrecursorAction supports continuous precursor concentration variables and generates accurate precursor distributions with it.

#### Background
Solving for the precursor concentration with the discontinuous Galerkin method is good for many problems because it is stable and fairly accurate under high Schmidt number (convection-dominated). However, it has some disadvanta

[2021-01-28 18:40] #139 closed

[2021-02-04 14:26] katyhuff opened #149 "Evaluate the strategy for deploying docs"
This issue can be closed when someone has:

- [x] contemplated the proper structure for holding the doxygen docs (probably source files only in devel & master, built files only in gh-pages branch)
- [x] Create a gh-pages branch (orphan it)
- [x] Extract the docs subfolder, and all of its history, into the new gh-pages branch
- [x] Update settings in the repo options to deploy pages at gh-pages rat

[2021-02-04 14:32] #146 closed

[2021-02-22 21:51] cticenhour opened #150 "Fixup deprecated code identified by CIVET"
This issue can be closed when deprecated MOOSE code and input file syntax [identified by CIVET testing](https://civet.inl.gov/job/674762/) is fixed. This can be checked in Moltres by using the `--error-deprecated` flag when performing local Moltres testing.

Examples of the errors currently experienced are as follows:

## Deprecated D_name parameter
[code]
This also occurs in:
- `problems/2017_ann

[2021-02-23 16:16] gwenchee commented on #126
@yardasol Hey Olek, what's the status of this?

[2021-02-23 17:11] katyhuff commented on #150
Thanks a ton for letting us know @cticenhour !

@smpark7 I've listed you as the assignee to fix this. But, @yardasol @robfairh @ZoeRichter, any of you could assign it to yourselves instead, if preferred.

[2021-02-23 17:35] cticenhour commented on #150
Happy to help! This caught my attention as I was looking through my CIVET dashboard. If the eventual assignee has questions, please feel free to let me or a member of the MOOSE team know!

[2021-02-23 20:13] yardasol commented on #126
@gwenchee It's been a while since I worked on this. Looking back at our convos in slack and my own personal meeting notes, I was having issues with the conda package of openmc, so I was going to build from source. I think that project became its own little rabbit hole, but I did make a script out of it so that I can now install openmc from source automatically (I think). I was also going to begin

[2021-02-24 20:22] katyhuff commented on #126
Thanks. I assume you're following the instructions here: https://docs.openmc.org/en/stable/usersguide/install.html#prerequisites.  If you have trouble of course openmc has an issue tracker, [where a few common issues with installation have been discussed with new users](https://github.com/openmc-dev/openmc/issues?q=is%3Aissue+install).

[2021-03-04 08:24] smpark7 opened #152 "Precursor loop heavy tests are failing with latest MOOSE build"
This issue can be closed when we fix the precursor loop heavy tests that are currently failing with the latest MOOSE build.

The latest MOOSE build introduces the new ```Reporter``` system and associated changes to ```MultiAppPostprocessorTransfer```. Unfortunately, these changes are causing the precursor loop heavy tests to fail. CIVET did not indicate these tests were failing because it only run

[2021-03-04 13:23] smpark7 commented on #150
@yardasol @robfairh @ZoeRichter @LukeSeifert Feel free to work on this issue, along with #136 and #137 if you wish to.

I'm currently working on #152 and #151 so I won't be able to tackle this until next week or so.

[2021-03-04 15:02] smpark7 commented on #152
PSA: Before this issue is fixed, you can still compile and use Moltres using the current version of the moose submodule in this repo. For your conda environment, you need to install:
[code]
because the latest conda moose environment is not compatible with the moose submodule on Moltres.

[2021-03-04 15:16] robfairh commented on #150
I'll see if I have some time for this today.

[2021-03-04 16:43] smpark7 commented on #150
Katy and I discussed this issue during our meeting today. She mentioned there's a possibility that the failed test in #151 is linked to the deprecated code.
@ZoeRichter @LukeSeifert If either of you want to give it a shot, we can do a quick video call to go through these issues. It's a good exercise if you're not yet quite familiar with some of moose/moltres' code. Otherwise, Roberto or I will tac

[2021-03-04 17:07] cticenhour commented on #150
Hi all! I noticed this email in my inbox, and took a look at your issue. We moved CIVET to some new build boxes, so CppUnit is now a module that can be loaded optionally by a testing recipe. Somehow this didn't get added to yours. You have two options:

(1) I can add `module load cppunit` to your test recipe on CIVET.
(2) You can convert your `main.C` in `moltres/unit/src` to GoogleTest, which has

[2021-03-05 08:25] smpark7 commented on #150
@cticenhour Thanks for letting us know! You've saved us a ton of trouble. I'll take a shot at (2)

[2021-03-05 08:30] smpark7 opened #153 "Replace cppunit with googletest"
This issue can be closed when all code related to cppunit is replaced with googletest equivalents.

Moose has made cppunit an optional module with googletest being the favored module for testing. Refer to the comment thread in #150 for more information.

[2021-03-05 08:44] smpark7 opened #154 "Update installation instructions in readme"
With moose [environment](https://mooseframework.inl.gov/getting_started/installation/conda.html) packages readily available on conda, the installation instructions in the top-level directory readme are out-of-date. There is no need to go through the extra hassle of building libmesh from the moose submodule since the moose conda environment provides it along with other prerequisite modules. Accordi

[2021-03-05 11:35] robfairh commented on #150
@smpark7 can I get some guidance here? I am not very familiar with CIVET and googletest. So, I think I will focus on the failing tests. I understand that I need to fix the deprecated errors by modifying the syntax in the input files that are failing the tests. Is my understanding correct?

I ran ```./run_tests -j4 --error-deprecated``` and I got the following [output](https://github.com/arfc/moltr

[2021-03-05 11:40] smpark7 commented on #150
Yup. For the Deprecated D_name parameter error, you just need to replace all instances of ```D_name``` with ```diffusivity```

[2021-03-05 11:45] robfairh commented on #150
Great! I will assign myself to this issue.

[2021-03-05 14:49] robfairh commented on #152
@smpark7 What should we do about this? Should we update the submodule and also update the conda moose environment?

[2021-03-05 15:16] smpark7 commented on #152
No. Our pre_loop and pre_loop_ins tests will fail if we update the submodule. The error message from the failed tests is:
[code]
I mentioned the conda moose environment versions above because the latest conda moose environment versions are not compatible with the moose submodule version in devel. We have to figure out a fix for PrecursorAction.C in response to the new ```Reporter``` system and ```

[2021-03-05 15:25] #153 closed

[2021-03-05 16:23] #150 closed

[2021-03-17 16:16] yardasol commented on #126
Hi @gwenchee, so sorry for the lack of updates. Long story short I've been busy with other projects. I didn't realize that this was that urgent for you, if it was I would have made it more of a priority! Very sorry about this.

[2021-03-17 16:23] gwenchee commented on #126
Ya no worries! Thanks for letting me know

[2021-05-25 21:37] smpark7 opened #160 "Fix InScatter kernel OffDiagJacobian formulation for simulations using Serpent 2 group data"
The current formulation for the OffDiagJacobian term in the `InScatter` kernel is wrong for users who use group constant data.

The `InScatter` kernel uses an `sss2_input` flag to determine whether the group constant data provided by the user is from SCALE or Serpent 2. This is especially important for the in-scattering term of the neutron diffusion equations because the indexing of the in-scatter

[2021-06-12 17:28] #136 closed

[2021-06-12 17:28] #137 closed

[2021-06-18 23:03] smpark7 opened #162 "Fix ManuHX Jacobian term, allow heat transfer coeff to vary with time, & make a test for ManuHX"
This issue can be closed when the following three objectives involving `ManuHX` are met:
1. Fix the Jacobian term. It is currently missing a `_phi[_j][_qp]` term.
2. Allow the heat transfer coeff `htc` to vary with time by making it `controllable` under MOOSE's `Control` system. This allows us to model a loss of heat sink accident when using `ManuHX` as a heat exchanger
3. Make a test for `ManuHX`

[2021-06-24 22:24] smpark7 commented on #162
@LukeSeifert @robfairh @yardasol @gwenchee @munkm Does anyone have any good suggestions for renaming ManuHX.C? It models a volumetric heat sink term of the form:

![image](https://user-images.githubusercontent.com/30237775/123337810-5e509d80-d57a-11eb-8756-c83d10ee83fe.png)

It was initially created for (and named after) a benchmark problem proposed by Dr Manuele Aufiero in `problems/publication_l

[2021-09-08 16:45] smpark7 opened #167 "Allow for optional cross sections"
`GenericMoltresMaterial` and `MoltresJsonMaterial` currently require all types of neutronics material data (BETA_EFF, CHIT, CHIP, CHID, DIFFCOEF, FISS, INVV, KAPPA, LAMBDA, NSF, NUBAR, REMXS, SP0) regardless of whether they're used in a particular problem.

For example, a steady-state criticality problem without delayed neutrons does not use delayed neutron data (BETA_EFF, CHID, LAMBDA), but the `

[2021-09-15 16:11] smpark7 commented on #152
Closed by https://github.com/idaholab/moose/pull/17485

ReporterData now checks for a reporter value after it is declared.

[2021-09-15 16:11] #152 closed

[2021-09-16 18:32] #160 closed

[2021-09-16 18:47] #162 closed

[2021-09-27 18:16] #149 closed

[2021-10-15 22:22] gwenchee opened #175 "[Global Params] sss2_input"
`sss2_input` is a boolean input to determine if the user is using serpent or scale group constants, and depending on which one, a different formula is used to calculate the `jac` due to the fact that scale's scattering matrix is a transpose of serpent's in https://github.com/arfc/moltres/blob/9dc170e399c97977631c313fd4e121752c3c5a4f/src/kernels/InScatter.C#L78

However, with the introduction of op

[2021-10-18 19:58] smpark7 opened #176 "Add CI to ensure Doxygen files can be built"
This issue can be closed when someone adds a CI test that checks whether Doxygen files can be built whenever a new PR is created, without deploying the built files into `gh-pages`. Deployment is already handled by an existing GitHub Action after PRs are merged.

[2021-10-21 19:29] smpark7 opened #177 "Add support for `Eigenvalue` eigensolver"
This issue can be closed when `NtAction` supports using the `Eigenvalue` executioner and new tests are added for criticality search using `Eigenvalue`.

Our existing framework for solving criticality search problems involve using the `NonlinearEigen` or `InversePowerMethod` executioners. These executioners require `EigenKernels` for the neutron source terms, namely the `CoupledFissionEigenKernel`

[2021-10-27 16:58] smpark7 opened #179 "Set up a website with documentation based on the MooseDocs system"
We currently rely on Doxygen for Moltres' documentation on [https://arfc.github.io/moltres/](https://arfc.github.io/moltres/). Ideally, the documentation should contain helpful information about the input parameters of each class and sample input files showing how they're used.

While Doxygen documentation provides useful information on class inheritance trees, functions, and attributes, it does n

[2021-10-29 21:59] gwenchee commented on #154
closed with #180

[2021-10-29 21:59] #154 closed

[2021-11-01 21:44] smpark7 commented on #179
With the initial setup implemented in #181, the remaining tasks are:
- [ ] Filling up the "Getting Started", "Help", and other pages as required
    - This may involve migrating existing Moltres webpages in arfc.github.io into this website
- [ ] Deploying the website to be accessible online
- [ ] Adding a link to our existing Doxygen-built website, **or** incorporating the Doxygen webpages directl

[2021-11-04 22:59] gwenchee commented on #126
closed with #174

[2021-11-04 22:59] #126 closed

[2022-02-04 18:36] smpark7 opened #183 "Fix function-based InflowBC and Outflow postprocessor in PrecursorAction"
## Issue
Moltres supports precursor drift with uniform, function-based, or Navier-Stokes coupled velocities.

The current implementation of outlet postprocessors and inlet boundary conditions in `PrecursorAction.C` with **function-based velocities** and **precursor looping**:
1. does not impose an outlet postprocessor for calculating the precursor concentration at the outlet; and
2. imposes the wr

[2022-02-23 17:09] gwenchee opened #186 "Someone should probably make a GH action to run pytest in PRs..."
Someone should probably make a GH action to run pytest in PRs...

_Originally posted by @smpark7 in https://github.com/arfc/moltres/issues/185#issuecomment-1048368591_

[2022-02-28 20:30] abachma2 opened #187 "Documentation Issues"
While looking through this repo I noticed a few things with the documentation:
[ ] The link to MOOSE wiki, tutorial, and examples are not working. I got a message that the links couldn't be found.
[ ] The Moltres page on the ARFC website have Alex Lindsey listed for dev questions. Should he be removed (I can also raise this issue in that repo if this needs to be updated)?
[ ] The Doxygen pages are

[2022-03-01 17:36] smpark7 commented on #187
Thanks for reviewing the Moltres repo! I'll address issues 1-3 in a PR today and create separate issues for 4-6. About issue 7, we follow the 100 character limit instead of the 80 limit.

[2022-03-01 19:33] smpark7 opened #190 "Replace the Nt action with a more intuitive name"
As mentioned in #187, the `Nt` action, which initializes kernels and other objects for modeling neutron flux, is not intuitive. The name was probably derived from "Neutronics" but this is misleading as `Nt` does not handle precursor modeling.

[2022-03-01 19:46] smpark7 opened #191 "Tutorial issues"
Moltres needs more tutorials with better descriptions. This issue can be closed when:
- [ ] the main README references the `tutorial` directory to lead users there
- [ ] the READMEs of the existing tutorials are improved for clarity
- [ ] the three existing tutorials for group constant generation are consolidated
- [ ] a new tutorial directory is created to accommodate [this example](http://arfc.g

[2022-03-01 19:49] smpark7 commented on #187
I'm closing this issue because it has been either addressed by PRs #189 and #190, or expanded upon in issue #191.

[2022-03-01 19:49] #187 closed

[2022-03-15 21:38] smpark7 opened #193 "Add additional installation instructions"
The current installation instructions are inadequate for new users who are less familiar with the relationship between Moltres and MOOSE.

This issue can be closed when the installation instructions state:
- [x] there is no need to compile MOOSE separately;
- [x] the `moose-tools` and `moose-libmesh` versions that are compatible with the MOOSE submodule in the Moltres repository.
- [x] the link to

[2022-04-26 15:55] cticenhour opened #197 "Remove deprecated MOOSE code"
CIVET has flagged Moltres as having deprecated code: https://civet.inl.gov/job/1027414/

Notably, the following error is seen on most of the failing tests:
[code]

And the following is seen in the `laminar_flow.boussinesqSquare` test:
[code]

This issue can be closed when:

- [x] The deprecated code outlined in the test results linked above have been addressed and the "Test deprecated" target comp

[2022-05-02 18:57] smpark7 commented on #197
Thanks for the heads up! The `p` parameter is easy enough to replace. The transition to `Eigenvalue` executioner will require more manhours because we'd have to change our Action files.

On your last point, would we have to manually turn on "Test deprecated" in every PR?

[2022-05-02 19:03] smpark7 commented on #133
I'm closing this because the points here are covered by newer issues #179, #191, and #193

[2022-05-02 19:03] #133 closed

[2022-05-02 19:10] cticenhour commented on #197
On the CIVET user interface, if you have sufficient permissions, you can turn on tests that don't normally run on PRs. For example I am also a maintainer of Zapdos, so if I look at an open PR, I can also see the option to turn on the deprecated test that would only otherwise run on the master branch:
<img width="1086" alt="image" src="https://user-images.githubusercontent.com/16690058/166309545-79

[2022-05-02 19:11] cticenhour commented on #197
I would only add this for the PR you submit to close this.....you don't necessarily want it running all the time, just when you're trying to clean up what is currently being flagged.

[2022-05-02 19:15] smpark7 commented on #197
Oh I initially misunderstood you but I get what you mean now. Thanks for clarifying!

[2022-05-30 15:52] js-jixu opened #205 "moltres_xs.py maybe not compatiable with the newest version of OpenMC"
An error appeared when I used moltres_xs.py to generate group constants. I think maybe `v0.13.0` OpenMC doesn't use `legendre` any more and I think it uses `mean` instead.
![error](https://user-images.githubusercontent.com/99813361/171026743-f70b71a0-75c7-433f-aedd-7ad6c78a28ec.png)

[2022-06-16 14:26] socratesgorilla opened #206 "Removing unused params"
## Bug Description
Due to new changes in the way moose handles default behavior for unused parameters, multiple tests are now hitting errors for their unused parameters. There are only a handful but they must be addressed before the PR for MOOSE can succeed.

## Steps to Reproduce
The specific input files are viewable in the attached MR, and can be seen on the civet job here: https://civet.inl.gov

[2022-06-16 17:17] #206 closed

[2022-08-16 17:15] smpark7 commented on #193
Closed by #199

[2022-08-16 17:15] #193 closed

[2022-09-06 15:13] dschwen opened #214 "Replace deprecated NodalMaxValue"
## Reason
The `NodalMaxValue` postprocessor has been deprecated in MOOSE for a while.

## Design
Replace with `NodalExtremeValue` and `value = max`.

## Impact
Reduce use of deprecated objects.

[2022-09-07 03:55] #214 closed

[2022-11-08 04:51] smpark7 opened #221 "Fix removal cross section generation in moltres_xs.py from OpenMC data"
Since OpenMC does not directly provide removal cross section (REMXS) tallies, `moltres_xs.py` calculates REMXS by adding the absorption and off-diagonal scatter cross sections for each energy group. However, the scatter cross sections include neutron multiplicity effects from (n,xn) reactions, leading to greater out-scattering than intended. Therefore, the REMXS values are smaller than intended. C